{% load static %}

{% with image_list_length=image_list|length%}
{% if image_list_length == 1 %}
    <img src="{{ image_list.0.url }}" alt="{{ image_list.0.alt }}" class="img-fluid">
{% elif image_list %}
    <b-carousel
        id="anime-carousel-{{ id }}"
        fade {% if enable_controls %}controls{% endif %}
    >
        {% for image in image_list %}
            <b-carousel-slide
                img-alt="{{ image.alt }}"
                img-src="{{ image.url }}"
            ></b-carousel-slide>
        {% endfor %}
    </b-carousel>
{% else %}
    <img src="{% static 'survey/img/image-unavailable.png' %}" alt="Image unavailable" class="img-fluid">
{% endif %}
{% endwith %}