{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/favicon/safari-pinned-tab.svg' %}" color="#4b88df">
    <link rel="shortcut icon" href="{% static '/favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="{% static '/favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#4b88df">

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.js"></script>

    <script src="//unpkg.com/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Load Bootstrap Icons CSS -->
    <link rel="stylesheet" href="//unpkg.com/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    {% block head %}
    {% endblock head %}

    <title>{% block title %}/r/anime Surveys{% endblock %}</title>
</head>

<body>
    <!-- header -->
    <b-navbar toggleable="md" type="light" variant="light" id="navbar" sticky>
        <b-navbar-brand href="{% url 'survey:index' %}">/r/anime Seasonal Surveys</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav class="ml-auto">
                {% if user_info %}
                <b-nav-text class="mr-3">
                    Logged in as
                    {% if user_info.image %}
                        <img class="mx-1 my-n3 align-middle rounded border" style="width:auto;height:35px;" src="{{ user_info.image }}">
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi mx-1 my-n2" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
                        </svg>
                    {% endif %}
                    {{ user_info.username }}
                </b-nav-text>

                <b-nav-form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" id="logoutNext" value=""/>
                    <b-button size="md" type="submit" variant="secondary">Log Out</b-button>
                </b-nav-form>

                {% else %}

                <b-nav-form method="get" action="{% url 'login' %}">
                    <b-button size="md" type="submit" variant="primary">Log In</b-button>
                </b-nav-form>
                {% endif %}

                {% block navbar%}
                {% endblock %}
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
    <!-- end header -->

    <!-- messages -->
    {% if messages %}
    {% for message in messages %}
    <b-alert show dismissible fade variant="{{ message.tags }}" id="message-{{ forloop.counter0 }}">{{ message }}</b-alert>
    <script>
        new Vue({
            el: "#message-{{ forloop.counter0 }}",
        });
    </script>
    {% endfor %}
    {% endif %}
    <!-- end messages -->

    <div class="content container-md mt-5 mb-5">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        new Vue({
            el: '#navbar',
        });
    </script>
    <script src="{% static 'survey/js/logout-button.js' %}"></script>
</body>
</html>