{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'favicon/favicon-64x64.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.js"></script>

    <script src="//unpkg.com/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue-icons.min.js"></script>

    {% block head %}
    {% endblock head %}

    <title>{% block title %}/r/anime Surveys{% endblock %}</title>
</head>

<body>
    <!-- header -->
    <b-navbar toggleable="md" type="light" variant="light" id="navbar" sticky>
        <b-navbar-brand href="{% url 'survey:index' %}">/r/anime Seasonal Surveys</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav class="ml-auto">
                {% if username %}
                <b-nav-text class="mr-3">
                    Authenticated as {{ username }}
                </b-nav-text>

                <b-nav-form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" id="logoutNext" value=""/>
                    <b-button size="md" type="submit" variant="secondary">Log Out</b-button>
                </b-nav-form>

                {% else %}

                <b-nav-form method="get" action="{% url 'login' %}">
                    <b-button size="md" type="submit" variant="primary">Log In</b-button>
                </b-nav-form>
                {% endif %}

                {% block navbar%}
                {% endblock %}
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
    <!-- end header -->

    <!-- messages -->
    {% if messages %}
    {% for message in messages %}
    <b-alert show dismissible fade variant="{{ message.tags }}" id="message-{{ forloop.counter0 }}">{{ message }}</b-alert>
    <script>
        new Vue({
            el: "#message-{{ forloop.counter0 }}",
        });
    </script>
    {% endfor %}
    {% endif %}
    <!-- end messages -->

    <div class="content container-md mb-5">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        new Vue({
            el: '#navbar',
        });
    </script>
    <script src="{% static 'survey/js/logout-button.js' %}"></script>
</body>
</html>