{% extends "survey/base.html" %}
{% load cache %}
{% load static %}

{% block title %}{{ survey }} - {{ block.super }}{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{% static 'survey/css/form.css' %}">
{% endblock %}

{% block content %}

<h1 class="mb-4 mx-n2 shadow">{{ survey }}!</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% if survey.is_ongoing %}
<form id="form" action="{% url 'survey:form' survey.year survey.season survey.is_preseason|yesno:'pre,post' %}" method="post">
    {% csrf_token %}

    <div class="row mb-5">
        <div class="col-lg-4">
            <div class="row">
                {% comment %} <div class="col-12 form-group">
                    <label for="age">How old are you?</label>
                    <input class="form-control" type="number" name="age" label="age" min=10 max=80 placeholder="--">
                </div>
                <div class="col-12 form-group">
                    <label for="gender">Which gender do you identify as?</label>
                    <select class="form-control" name="gender">
                        <option value="">-----</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="O">Other</option>
                    </select>
                </div> {% endcomment %}
                {% for field in responseform %}
                    <div class="col-12 form-group">
                        {{ field.errors }} {% comment %}TODO: Please customize this{% endcomment %}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



    <h3 class="mb-4 rounded shadow">Anime Series</h3>
    {% cache 7200 form_cards_series anime_series_list %}
    {% if anime_series_list %}
        <div class="row row-cols-md-2" id="anime-series">
        {% comment %} {% for anime in anime_series_list|dictsort:"japanese_name.name" %}
            <div class="col-md mb-4">
                {% include 'survey/form_card.html' with anime=anime is_preseason=survey.is_preseason is_series=True only %}
            </div>
        {% endfor %} {% endcomment %}
        {% for anime in anime_series_list|dictsort:"japanese_name.name" %}
            <div class="col-md mb-4">
                {% include 'survey/form_card2.html' with form=anime.animeresponseform anime=anime is_preseason=survey.is_preseason is_series=True only %}
            </div>
        {% endfor %}
        </div>
        
        <script>
            new Vue({
                el: "#anime-series",
            });
        </script>
    {% else %}
        <p>No anime found!</p>
    {% endif %}
    {% endcache %}
    <br>


    <h3 class="mb-4 rounded shadow">Anime Movies/ONAs/OVAs/Specials</h3>
    {% cache 7200 form_cards_specials special_anime_list %}
    {% if special_anime_list %}
        <div class="row row-cols-md-2" id="special-anime">
        {% for anime in special_anime_list|dictsort:"japanese_name.name" %}
            <div class="col-md mb-4">
                {% include 'survey/form_card.html' with anime=anime is_preseason=survey.is_preseason is_series=False only %}
            </div>
        {% endfor %}
        </div>
        
        <script>
            new Vue({
                el: "#special-anime",
            });
        </script>
    {% else %}
        <p>No anime found!</p>
    {% endif %}
    {% endcache %}
    <br>

    <div class="row justify-content-between">
        <div class="col-auto">
            <a href="{% url 'survey:index' %}" class="btn btn-secondary">Back to index</a>
        </div>
        <div class="col-auto">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </div>
</form>

{% else %}
<p>The survey is closed!</p>

<div class="row justify-content-between">
    <div class="col-auto">
        <a href="{% url 'survey:index' %}" class="btn btn-secondary">Back to index</a>
    </div>
    <div class="col-auto">
    </div>
</div>
{% endif %}
{% endblock content %}