{% extends 'survey/base.html' %}

{% block title %}{{ survey }} - {{ block.super }}{% endblock %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="row pt-5 justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <h5 class="card-header">
                Successfully Saved Your Response
            </h5>
            <div class="card-body">
                <div class="card-text">
                    <div class="row row-cols-1">
                        <p class="col">
                            To edit your response in the future, save the link below!
                        </p>
                        <p class="col">
                            Without this link, you will not be able to edit your response. Do not share it either, as others will then be able to edit your response.
                        </p>
                        <div class="col">
                            <div class="row" id="response-display">
                                <div class="col col-auto mt-1">
                                    <b-button :pressed.sync="display" variant="info">
                                        <template v-if="display">
                                            Hide link
                                        </template>
                                        <template v-else>
                                            Show link
                                        </template>
                                    </b-button>
                                </div>
                                <div class="col" v-if="display">
                                    <a href="{{ response_url }}">
                                        {{ response_url }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <a class="btn btn-primary" href="{% url 'survey:index' %}">
                                Back to index
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: "#response-display",
        data: {
            display: false,
        },
    });
</script>
{% endblock %}
