{% extends "survey/base.html" %}
{% load cache %}
{% load static %}

{% block title %}{{ survey }} - {{ block.super }}{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{% static 'survey/css/form.css' %}">
<script src="{% static 'survey/js/form.js' %}"></script>
{% endblock %}

{% block content %}

<h1 class="mb-4 mx-n2 shadow">{{ survey }}!</h1>

<div id="modal-container">
    <b-modal
        id="modal-missing-anime"
        ref="modal"
        scrollable
        @show="show" @ok="ok"
        cancel-title="Return" ok-title="Send"
        title="Request a missing anime to be added"
    >
        <div class="container-fluid" id="modal-content"></div>
    </b-modal>
</div>

{% if survey.is_ongoing %}
<form id="form" action="{% url 'survey:form' survey.year survey.season survey.is_preseason|yesno:'pre,post' %}" method="post">
    {% csrf_token %}

    <div class="row mb-4">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-12 form-group">
                    {{ responseform.age.errors }}
                    {{ responseform.age.label_tag }}
                    {{ responseform.age }}
                </div>
                <div class="col-12 form-group">
                    {{ responseform.gender.errors }}
                    {{ responseform.gender.label_tag }}
                    {{ responseform.gender }}
                </div>
            </div>
        </div>
    </div>



    <h3 class="mb-4 rounded shadow row justify-content-between align-items-center">
        <div class="col-auto">Anime Series</div>
        <div class="col-auto" id="modal-button-container-series">
            <b-button @click="click" variant="light" class="p-n2">Is an anime missing?</b-button>
        </div>
    </h3>
    {% if anime_series_list %}
        <div class="row row-cols-md-2" id="anime-series">
        {% for anime in anime_series_list|dictsort:"japanese_name.name" %}
            <div class="col-md mb-4">
                {% include 'survey/form_card.html' with form=anime.animeresponseform anime=anime is_preseason=survey.is_preseason is_series=True only %}
            </div>
        {% endfor %}
        </div>
        
        <script>
            new Vue({
                el: "#anime-series",
            });
        </script>
    {% else %}
        <p>No anime found!</p>
    {% endif %}
    <br>


    <h3 class="mb-4 rounded shadow row justify-content-between align-items-center">
        <div class="col-auto">Anime Movies/ONAs/OVAs/Specials</div>
        <div class="col-auto" id="modal-button-container-special">
            <b-button @click="click" variant="light" class="p-n2">Is an anime missing?</b-button>
        </div>
    </h3>
    {% if special_anime_list %}
        <div class="row row-cols-md-2" id="special-anime">
        {% for anime in special_anime_list|dictsort:"japanese_name.name" %}
            <div class="col-md mb-4">
                {% include 'survey/form_card.html' with form=anime.animeresponseform anime=anime is_preseason=survey.is_preseason is_series=False only %}
            </div>
        {% endfor %}
        </div>
        
        <script>
            new Vue({
                el: "#special-anime",
            });
        </script>
    {% else %}
        <p>No anime found!</p>
    {% endif %}
    <br>

    <div class="row justify-content-end">
        <div class="col-6 col-md-3 form-group form-check">
            {{ responseform.link_user_to_response.errors }}
            {{ responseform.link_user_to_response }}
            {{ responseform.link_user_to_response.label_tag }}
            <br>
            <span class="text-muted" style="font-size:80%;">
                {{ responseform.link_user_to_response.help_text }}
            </span>
        </div>
    </div>

    {% if response_public_id %}
        <input type="hidden" id="response-id" name="response-id" value="{{ response_public_id }}">
    {% endif %}

    <div class="row justify-content-between">
        <div class="col-auto">
            <a href="{% url 'survey:index' %}" class="btn btn-secondary">Back to index</a>
        </div>
        <div class="col-auto">
            <input class="btn btn-primary" type="submit" value="Submit" onclick="$(window).off('beforeunload')">
        </div>
    </div>
</form>

{% else %}
<p>The survey is closed!</p>

<div class="row justify-content-between">
    <div class="col-auto">
        <a href="{% url 'survey:index' %}" class="btn btn-secondary">Back to index</a>
    </div>
    <div class="col-auto">
    </div>
</div>
{% endif %}

<script>
    let vueModal = new Vue({
        el: "#modal-container",
        data: {
            url: "{% url 'survey:missinganime' survey.year survey.season survey.is_preseason|yesno:'pre,post' %}",
        },
        methods: {
            show: loadModalData,
            ok: sendModalData,
        },
    });

    for (let element of ["#modal-button-container-series", "#modal-button-container-special"]) {
        new Vue({
            el: element,
            methods: {
                click: function() {
                    // Not sure if you're supposed to do this but it works.
                    vueModal.$refs["modal"].show();
                },
            },
        });
    }
</script>

{% endblock content %}