{% if messages %}
    <div id="messages-missinganime">
        {% for message in messages %}
            <b-alert show dismissible fade variant="{{ message.tags }}" id="message-{{ forloop.counter0 }}">{{ message }}</b-alert>
        {% endfor %}
    </div>
{% endif %}

<form id="form-missinganime" class="mb-1">
    {% csrf_token %}
    {{ form }}
</form>

<small>
    Anime addition requests will be linked to your account; you will be notified on this site when a request went through or was denied.
</small>
