{% extends "survey/base.html" %}
{% load cache %}
{% load static %}

{% block title %}{{ survey }} - {{ block.super }}{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{% static 'survey/css/form.css' %}">
<script src="//unpkg.com/jquery@3.6.0/dist/jquery.min.js"></script>
<script>
    function displayModalContent(data) {
        $("#modal-content").html(data);
        let messages = $("#messages-missinganime");
        if (messages.length) {
            new Vue({el: "#messages-missinganime"});
        }
        new Vue({el: "#accordion-description"});
    }

    function loadModalData() {
        $.get(
            "{% url 'survey:missinganime' survey.year survey.season survey.is_preseason|yesno:'pre,post' %}",
            displayModalContent
        );
    }

    function sendModalData(event) {
        event.preventDefault();
        let posting = $.post(
            "{% url 'survey:missinganime' survey.year survey.season survey.is_preseason|yesno:'pre,post' %}",
            $("#form-missinganime").serialize()
        );
        posting.done(displayModalContent);
    }
</script>
{% endblock %}

{% block content %}

<h1 class="mb-4 mx-n2 shadow">{{ survey }}!</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% if survey.is_ongoing %}
<form id="form" action="{% url 'survey:form' survey.year survey.season survey.is_preseason|yesno:'pre,post' %}" method="post">
    {% csrf_token %}

    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                {% for field in responseform %}
                    <div class="col-12 form-group">
                        {{ field.errors }} {% comment %}TODO: Please customize this{% endcomment %}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="modal-wrapper" class="mb-5">
        <b-button v-b-modal="'modal-missing-anime'" class="bt-secondary">Is an anime missing?</b-button>
        <b-modal id="modal-missing-anime" @show="loadModalData" @ok="sendModalData">
            <template #modal-title>
                Add a missing anime
            </template>
            <div class="container-fluid" id="modal-content"></div>
        </b-modal>
    </div>



    <h3 class="mb-4 rounded shadow">Anime Series</h3>
    {% if anime_series_list %}
        <div class="row row-cols-md-2" id="anime-series">
        {% for anime in anime_series_list|dictsort:"japanese_name.name" %}
            <div class="col-md mb-4">
                {% include 'survey/form_card.html' with form=anime.animeresponseform anime=anime is_preseason=survey.is_preseason is_series=True only %}
            </div>
        {% endfor %}
        </div>
        
        <script>
            new Vue({
                el: "#anime-series",
            });
        </script>
    {% else %}
        <p>No anime found!</p>
    {% endif %}
    <br>


    <h3 class="mb-4 rounded shadow">Anime Movies/ONAs/OVAs/Specials</h3>
    {% if special_anime_list %}
        <div class="row row-cols-md-2" id="special-anime">
        {% for anime in special_anime_list|dictsort:"japanese_name.name" %}
            <div class="col-md mb-4">
                {% include 'survey/form_card.html' with form=anime.animeresponseform anime=anime is_preseason=survey.is_preseason is_series=False only %}
            </div>
        {% endfor %}
        </div>
        
        <script>
            new Vue({
                el: "#special-anime",
            });
        </script>
    {% else %}
        <p>No anime found!</p>
    {% endif %}
    <br>

    <div class="row justify-content-between">
        <div class="col-auto">
            <a href="{% url 'survey:index' %}" class="btn btn-secondary">Back to index</a>
        </div>
        <div class="col-auto">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </div>
</form>

{% else %}
<p>The survey is closed!</p>

<div class="row justify-content-between">
    <div class="col-auto">
        <a href="{% url 'survey:index' %}" class="btn btn-secondary">Back to index</a>
    </div>
    <div class="col-auto">
    </div>
</div>
{% endif %}

<script>new Vue({el:"#modal-wrapper"});</script>

{% endblock content %}