<div class="row mb-3">
    <div class="col" id="{{ table_id }}">
        <b-table hover small bordered striped responsive fixed sort-by="name" :sort-desc="false" :sort-compare="sortCompare" :items="items" :fields="fields" :tbody-tr-class="rowClass">
            <template #cell(name)="data">
                <div class="row align-items-center no-gutters">
                    <div class="col-auto col-img">
                        <img :src="data.value.image" class="img-fluid">
                    </div>
                    <div class="col ml-2 mr-2 mb-n1">
                        <div v-for="name in data.value.official_name_list" class="mb-1">
                            {$ name $}
                        </div>
                    </div>
                </div>
            </template>
        </b-table>
    </div>
</div>