<div class="row mb-3">
    <div class="col" id="{{ table_id }}">
        <b-table hover small bordered responsive :sort-by="sortBy" :sort-desc="sortDesc" :sort-compare="sortCompare" :items="items" :fields="fields" :tbody-tr-class="rowClass">
            <template #cell(name)="data">
                <div class="row align-items-center no-gutters">
                    <div class="col-auto col-img">
                        <img :src="data.value.image.s" class="img-fluid">
                    </div>
                    <div class="col ml-2 mr-2">
                        <template v-for="(name, idx) in data.value.official_name_list">
                            <div v-if="idx == 0" class="">
                                {$ name $}
                            </div>
                            <div v-else class="" style="font-size: 80%">
                                {$ name $}
                            </div>
                        </template>
                    </div>
                </div>
            </template>
            <template #cell(gender_popularity_ratio)="data">
                <div v-if="data.value.endsWith('M:F')" style="color:blue;">
                    {$ data.value $}
                </div>
                <div v-else-if="data.value.endsWith('F:M')" style="color:deeppink;">
                    {$ data.value $}
                </div>
                <div v-else>
                    {$ data.value $}
                </div>
            </template>
            <template #cell(gender_score_difference)="data">
                <div v-if="data.value.endsWith('M')" style="color:blue;">
                    {$ data.value $}
                </div>
                <div v-else-if="data.value.endsWith('F')" style="color:deeppink;">
                    {$ data.value $}
                </div>
                <div v-else>
                    {$ data.value $}
                </div>
            </template>
        </b-table>
    </div>
</div>