{% extends 'survey/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md col-10" id="results-table-series">
        <b-table hover small bordered striped sort-by="name" :sort-desc="false" :items="items" :fields="fields">
            <template #cell(rank)="data">
                #{$ data.value $}
            </template>
            <template #cell(image)="data">
                <img :src="data.value" class="img-fluid"></img>
            </template>
            <template #cell(name)="data">
                <div class="ml-2 mr-2">
                    <div v-for="name in data.value">
                        {$ name $}
                    </div>
                </div>
            </template>
        </b-table>
    </div>
</div>

<div class="row justify-content-between mt-3">
    <div class="col-auto">
        <a href="{% url 'survey:index' %}" class="btn btn-secondary">Back to index</a>
    </div>
    <div class="col-auto">
        <a href="{% url 'survey:results' survey.year survey.season survey.is_preseason|yesno:'pre,post' %}" class="btn btn-primary">Back to results summary</a>
    </div>
</div>

<script>
    function genericNumberFormatter(value, validFormatter) {
        switch (isNaN(value) || value) {
            case true:
                return "N/A";
            case Infinity:
                return "\u221e";
            default:
                return validFormatter(value);
        }
    }

    function percentageFormatter(value) {
        return genericNumberFormatter(value, v => parseFloat(v).toFixed(1) + "%");
    }

    function genderRatioFormatter(value) {
        return genericNumberFormatter(value, v => parseFloat(v).toFixed(2));
    }

    function scoreFormatter(value) {
        return genericNumberFormatter(value, v => parseFloat(v).toFixed(2));
    }

    function ageFormatter(value) {
        return genericNumberFormatter(value, v => parseFloat(v).toFixed(2));
    }

    const animeInfo = {{ anime_info_json|safe }};
    const animeSeriesData = {{ anime_series_data_json|safe }};
    const specialAnimeData = {{ special_anime_data_json|safe }};
    const resultsTypes = [{
        key: 'name',
        label: 'Anime',
        sortable: true,
    }, {
        key: 'popularity',
        label: 'Popu-larity',
        formatter: percentageFormatter,
        sortable: true,
    }, {
        key: 'gender_popularity_ratio',
        label: 'Gender Ratio (♂:♀)',
        formatter: genderRatioFormatter,
        sortable: true,
    }, {
        key: 'gender_popularity_ratio_inv',
        label: 'Gender Ratio (♀:♂)',
        formatter: genderRatioFormatter,
        sortable: true,
    }, {
        key: 'age',
        label: 'Avg. Age',
        formatter: ageFormatter,
        sortable: true,
    },{% if not survey.is_preseason %} {
        key: 'underwatched',
        label: 'Under-watched',
        formatter: percentageFormatter,
        sortable: true,
    },{% endif %} {
        key: 'score',
        label: 'Score',
        formatter: scoreFormatter,
        sortable: true,
    }, {
        key: 'gender_score_difference',
        label: 'Score Diff. (♂-♀)',
        formatter: scoreFormatter,
        sortable: true,
    }, {
        key: 'gender_score_difference_inv',
        label: 'Score Diff. (♀-♂)',
        formatter: scoreFormatter,
        sortable: true,
    },{% if not survey.is_preseason %} {
        key: 'surprise',
        label: 'Sur-prise',
        formatter: percentageFormatter,
        sortable: true,
    }, {
        key: 'disappointment',
        label: 'Disa-ppoint-ment',
        formatter: percentageFormatter,
        sortable: true,
    }{% endif %}];

    let seriesTableItems = [];
    for (let anime_id in animeSeriesData) {
        item = animeSeriesData[anime_id];
        item['name'] = animeInfo[anime_id].official_name_list;
        seriesTableItems.push(item);
    }

    new Vue({
        el: '#results-table-series',
        delimiters: ['{$', '$}'],
        data: {
            fields: resultsTypes,
            items: seriesTableItems,
        },
    });
</script>
{% endblock %}