{% extends 'survey/base.html' %}
{% load static %}

{% block head %}
<style>
    td, th {
        vertical-align:middle!important;
    }
    .col-img img {
        width: 50px;
    }
</style>
<script>
    const animeInfo = {{ anime_info_json|safe }};
    const animeSeriesData = {{ anime_series_data_json|safe }};
    const specialAnimeData = {{ special_anime_data_json|safe }};
    const surveyIsPreseason = {{ survey.is_preseason|lower }};
</script>
{% endblock %}

{% block content %}
{% with series_table_id='results-table-series' special_table_id='results-table-special' %}
{% include 'survey/fullresults_table.html' with table_id=series_table_id only %}
{% include 'survey/fullresults_table.html' with table_id=special_table_id only %}

<div class="row mt-3 no-gutters">
    <div class="col-auto mr-2">
        <a href="{% url 'survey:index' %}" class="btn btn-secondary">Back to index</a>
    </div>
    <div class="col-auto">
        <a href="{% url 'survey:results' survey.year survey.season survey.is_preseason|yesno:'pre,post' %}" class="btn btn-secondary">Back to results summary</a>
    </div>
</div>

<script src="{% static 'survey/js/fullresults.js' %}"></script>
{% endwith %}
{% endblock %}