{% load anime_util %}

<a class="col col-lg-6 col-12 border p-3 list-group-item-action text-body" href="{% url 'survey:form' survey.year survey.season survey.is_preseason|yesno:'pre,post' %}">
    <div class="row">
        <div class="col">
            <h5>
                {{ survey }}
                <span class="badge badge-primary badge-pill" style="font-size: 80%;">Ongoing</span>
            </h5>
        </div>
    </div>
    <div class="row position-relative">
        <div class="col">
            <div class="row row-cols-6 p-3 align-items-center survey-ongoing-images">
                {% for anime in data %}
                    <div class="col p-1">
                        {% render_anime_images anime variant='m' enable_controls=False %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center h-100 w-100 position-absolute survey-ongoing-text">
            Survey open!
        </div>
    </div>
</a>
