{% extends "survey/base.html" %}
{% load anime_util %}
{% load static %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{% static 'survey/css/index.css' %}">
{% endblock %}

{% block content %}

{% if items %}
    <div class="row row-cols-1" id="index-content">
        {% for year, seasons in items.items %}
            <div class="col{% if not forloop.last %} mb-5{% endif %}">
                <div class="row justify-content-center">
                    <div class="col col-11 d-flex align-items-center">
                        <h3 class="my-2 p-0">{{ year }}</h3>
                    </div>
                </div>
                {% for season, surveys in seasons.items %}
                    <div class="row justify-content-center">
                        <div class="col col-2 col-sm-1 border rounded-left d-flex justify-content-center align-items-center text-center bg-{{ season.label|lower }}">
                            <div class="row row-cols-1">
                                <div class="col">
                                    <i class="bi {% if   season.value == 0 %}bi-snow
                                                 {% elif season.value == 1 %}bi-flower2
                                                 {% elif season.value == 2 %}bi bi-sun
                                                 {% else %}                  bi-tree
                                    {% endif %}"></i>
                                </div>
                                <div class="col text-season font-weight-bold">
                                    <span>{{ season.label|capfirst }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col col-9 col-sm-10">
                            <div class="row">
                                {% if surveys.pre %}
                                    {% include 'survey/index_survey.html' with survey=surveys.pre.survey data=surveys.pre.data only %}
                                {% else %}
                                    {% include 'survey/index_survey_empty.html' %}
                                {% endif %}
                                {% if surveys.post %}
                                    {% include 'survey/index_survey.html' with survey=surveys.post.survey data=surveys.post.data only %}
                                {% else %}
                                    {% include 'survey/index_survey_empty.html' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <script>new Vue({el:"#index-content"});</script>
{% else %}
    <p>No surveys available.</p>
{% endif %}

{% endblock content %}
