{% extends "survey/base.html" %}
{% load anime_util %}
{% load static %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{% static 'survey/css/index.css' %}">
{% endblock %}

{% block content %}

{% if survey_list %}
<div class="list-group mt-5" id="survey-list">
    {% for survey in survey_list %}
    <a href="{% if survey.is_ongoing %}{% url 'survey:form' survey.year survey.season survey.is_preseason|yesno:'pre,post' %}{% else %}{% url 'survey:results' survey.year survey.season survey.is_preseason|yesno:'pre,post' %}{% endif %}" class="list-group-item list-group-item-action">
        <div class="d-flex align-items-center">
            <h5 class="mr-2 mb-1">{{ survey }}</h5>
            {% if survey.is_ongoing %}
            <span class="badge badge-primary badge-pill">Ongoing</span>
            {% else %}
            <small class="text-muted">Finished</small>
            {% endif %}
        </div>
        {% if survey.is_ongoing %}
        <p class="mb-1">
            {% if survey.is_preseason %}
            Vote on your what you think will be the best anime of {{ survey.year }} Q{{ survey.season|add:1 }}!
            {% else %}
            Vote on what your favorite anime of {{ survey.year }} Q{{ survey.season|add:1 }} were!
            {% endif %}
        </p>
        {% else %}
        <div class="row mt-2">
            <div class="col-12">
                <h6>
                    {% if survey.is_preseason %}
                    {% get_season_name survey.season %} {{ survey.year }}'s Most Anticipated Anime
                    {% else %}
                    {% get_season_name survey.season %} {{ survey.year }}'s Best Anime
                    {% endif %}
                </h6>
            </div>
            {% for row in survey.score_ranking %}
            <div class="col-lg-8 mb-1">
                {% include 'survey/index_ranking_row.html' with rank=forloop.counter anime=row.0 value=row.1|floatformat:2 only %}
            </div>
            {% endfor %}
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                Check out how well other anime did in {{ survey.year }} Q{{ survey.season|add:1 }}!
            </div>
        </div>
        {% endif %}
    </a>
    {% endfor %}
</div>
<script>
    new Vue({
        el: "#survey-list",
    });
</script>
{% else %}
<p>No surveys available.</p>
{% endif %}

{% endblock content %}