{% extends "survey/base.html" %}
{% load account socialaccount %}

{% block title %}Log In - {{ block.super }}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
{% for provider in socialaccount_providers %}
{% if provider.id == "reddit" %}
<div class="row pt-5 justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <h5 class="card-header">
                Log In
            </h5>
            <div class="card-body">
                <p class="card-text">
                    To fill in surveys, you must be logged in with a {{ provider.name }} account.
                </p>
                <form method="post" action="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}" class="form-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-md">Log in via {{ provider.name }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% else %}
Error: No SocialAccount Providers found.
{% endif %}

{% endblock %}