{% load account socialaccount %}

{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
{% for provider in socialaccount_providers %}
{% if provider.id == "reddit" %}
<div class="modal-header">
  <h5 class="modal-title" id="loginModalLabel">Log In</h5>
  <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  To fill in surveys, you must be logged in with a Reddit account.
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  <a href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}" class="btn btn-primary">Log in via Reddit</a>
</div>
{% endif %}
{% endfor %}
{% else %}
Error: No SocialAccount Providers found.
{% endif %}