{% extends "survey/base.html" %}
{% load static %}

{% block content %}

<h1>{{ survey }}!</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% if survey.is_ongoing %}
    <form action="{% url 'survey:submit' survey.year survey.season survey.is_preseason|yesno:'pre,post' %}" method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="age">How old are you?</label>
        <input class="form-control" type="number" name="age" label="age" min=10 max=80>
    </div>

    <div class="form-group">
        <label for="gender">Which gender do you identify as?</label>
        <select class="form-control" name="gender">
            <option value=""></option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
        </select>
    </div>
    <br>



    <h3>Anime Series</h3>
    {% if anime_series_list %}
        <div class="row row-cols-md-2">

        {% for anime in anime_series_list|dictsort:"japanese_name.name" %}
            <div class="col-md mb-4"><div class="card">
                <div class="row no-gutters">
                    <!-- Card image -->
                    <div class="col-4" style="background-color:#eaeaea;border-radius:3px;">
                        <img class="card-img" src="{% static 'survey/image-unavailable.png' %}" alt="{{ anime }} visual">
                    </div>

                    <!-- Card info -->
                    <div class="col-8"><div class="card-body">
                        <div class="card-title">
                            <h5 class="mb-1">
                                {{ anime.japanese_name.name }}
                                {% if anime.short_name %}
                                <span style="font-size:60%;">({{ anime.short_name.name }})</span>
                                {% endif %}
                            </h5>
                            {% if anime.english_name %}
                            <h6 style="color:#777777;">{{ anime.english_name.name }}</h6>
                            {% endif %}
                        </div>

                        <div class="form-group form-check">
                            <input class="form-check-input" type="checkbox" name="{{ anime.id }}-watched" id="{{ anime.id }}-watched" value="true">
                            <label class="form-check-label" for="{{ anime.id }}-watched">Watched?</label>
                        </div>

                        {% if not survey.is_preseason %}
                        <div class="form-group form-check">
                            <input class="form-check-input" type="checkbox" name="{{ anime.id }}-underwatched" id="{{ anime.id }}-underwatched" value="true">
                            <label class="form-check-label" for="{{ anime.id }}-underwatched">Underwatched?</label>
                        </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="{{ anime.id }}-score">Score</label>
                            <select name="{{ anime.id }}-score" class="form-control">
                                <option value=""></option>
                                <option value="5">5 - Great</option>
                                <option value="4">4</option>
                                <option value="3">3 - Average</option>
                                <option value="2">2</option>
                                <option value="1">1 - Bad</option>
                            </select>
                        </div>

                        {% if not survey.is_preseason %}
                        <div class="form-group">
                            <label for="{{ anime.id }}-expectations">Expectations</label>
                            <select name="{{ anime.id }}-expectations" class="form-control">
                                <option value=""></option>
                                <option value="S">Surprise</option>
                                <option value="D">Disappointment</option>
                            </select>
                        </div>
                        {% endif %}
                    </div></div>
                </div>
            </div></div>
        {% endfor %}

        </div>
    {% else %}
        <p>No anime found!</p>
    {% endif %}
    <br>



    <h3>Anime Movies/ONAs/OVAs/Specials</h3>
    {% if special_anime_list %}
        <ol>
        {% for anime in special_anime_list %}
            {{ anime }}
            <!-- TODO -->
        {% endfor %}
        </ol>
    {% else %}
        <p>No anime found!</p>
    {% endif %}
    <br>

    <input class="btn btn-primary" type="submit" value="Submit">
    </form>

{% else %}
    <p>The survey is closed!</p>
{% endif %}


<a href="{% url 'survey:index' %}">Back to index.</a>

{% endblock content %}