{% extends "survey/base.html" %}
{% load form_card %}

{% block content %}

<h1>{{ survey }}!</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% if survey.is_ongoing %}
    <form action="{% url 'survey:submit' survey.year survey.season survey.is_preseason|yesno:'pre,post' %}" method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="age">How old are you?</label>
        <input class="form-control" type="number" name="age" label="age" min=10 max=80>
    </div>

    <div class="form-group">
        <label for="gender">Which gender do you identify as?</label>
        <select class="form-control" name="gender">
            <option value=""></option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
        </select>
    </div>
    <br>



    <h3>Anime Series</h3>
    {% if anime_series_list %}
        <div class="row row-cols-md-2">
        {% for anime in anime_series_list|dictsort:"japanese_name.name" %}
            <div class="col-md mb-4">
                {% create_form_card anime survey.is_preseason True %}
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>No anime found!</p>
    {% endif %}
    <br>



    <h3>Anime Movies/ONAs/OVAs/Specials</h3>
    {% if special_anime_list %}
        <div class="row row-cols-md-2">
        {% for anime in special_anime_list|dictsort:"japanese_name.name" %}
            <div class="col-md mb-4">
                {% create_form_card anime survey.is_preseason False %}
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>No anime found!</p>
    {% endif %}
    <br>

    <input class="btn btn-primary" type="submit" value="Submit">
    </form>

{% else %}
    <p>The survey is closed!</p>
{% endif %}

<br>
<a href="{% url 'survey:index' %}">Back to index.</a>

{% endblock content %}