// This file is included in src/main.ts and should contain all application-wide SCSS
$enable-negative-margins: true;
@import "bootstrap/scss/bootstrap.scss";

.hoverable:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.col-0-5 {
  flex: 0 0 auto;
  width: calc(100% / 24);
}