// This file is included in src/main.ts and should contain all application-wide SCSS
$enable-negative-margins: true;
@import "bootstrap/scss/bootstrap.scss";

.hoverable:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.col-0-5 {
  flex: 0 0 auto;
  width: calc(100% / 24);
}

.title-color {
  @extend .bg-primary, .bg-opacity-75, .text-light;
}

.page-title {
  @extend .title-color;
  @extend .mb-4, .mx-n2, .p-3, .shadow;
}

.show-if-collapsed {
  display: none;
}
.show-if-not-collapsed {
  display: initial;
}

.collapsed {
  .show-if-collapsed {
    display: initial;
  }
  .show-if-not-collapsed {
    display: none;
  }
}