.bg-winter {
    background-color: rgb(123, 171, 193)!important;
}
.bg-spring {
    background-color: rgb(168, 215, 44)!important;
}
.bg-summer {
    background-color: rgb(253, 215, 10)!important;
}
.bg-fall {
    background-color: rgb(223, 129, 60)!important;
}

.bg-unavailable {
    background-color: rgb(217, 217, 217)!important;
}