.carousel-item {
    display: block;
}

/* Mimic Bootstrap's align-items-center and d-flex */
.carousel-inner {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}