@import 'image-carousel';
@import 'background-colors';

.bi {
    font-size: 2rem;
}

.text-season {
    hyphens: auto;
    font-size: 90%;
}
.text-result-header {
    background-color: #537cf9;
    color: #f4f4fc;
}

.anime-second {
    opacity: 0.5;
    z-index: -5;
}
.anime-third {
    opacity: 0.25;
    z-index: -10;
}

.survey-ongoing-images, .survey-upcoming-images {
    opacity: 0.15;
}

.survey-ongoing-text, .survey-upcoming-text {
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.survey-ongoing-text {
    font-size: 3.5em;
}

.survey-upcoming-text {
    font-size: 2.3em;
}

.bg-unavailable {
    background-color: rgb(227, 227, 227)!important;
}
