@import 'image-carousel';

.bg-winter {
    background-color: rgb(123, 171, 193);
}
.bg-spring {
    background-color: rgb(168, 215, 44);
}
.bg-summer {
    background-color: rgb(223, 129, 60);
}
.bg-fall {
    background-color: rgb(253, 215, 10);
}

.bi {
    font-size: 2rem;
}

.text-season {
    hyphens: auto;
    font-size: 90%;
}
.text-result-header {
    background-color: #537cf9;
    color: #f4f4fc;
}

.anime-second {
    opacity: 0.5;
    z-index: -5;
}
.anime-third {
    opacity: 0.25;
    z-index: -10;
}
