@import 'image-carousel';

h1, h2, h3, h4 {
    background-color: #537cf9;
    color: #f4f4fc;
}
h1, h2, h3 {
    padding: 13px;
}
h4 {
    padding: 7px;
}

.hidden-group-button {
    padding: 0px;
    background-color: transparent!important;
    border-color: transparent!important;
    color: initial!important;

    h1, h2, h3, h4 {
        margin: 0px;
    }
    h1:hover, h2:hover, h3:hover, h4:hover {
        background-color: scale-color($color: #537cf9, $lightness: -20%)!important;
    }
}

.hidden-group-button.collapsed {
    .collapse-button-show-text {
        display: initial;
    }
    .collapse-button-hide-text {
        display: none;
    }
}
.hidden-group-button.not-collapsed {
    .collapse-button-show-text {
        display: none;
    }
    .collapse-button-hide-test {
        display: initial;
    }
}

th div {
    hyphens: manual;
}
th, td {
    vertical-align: middle!important;
}

.table-duo {
    font-size: 85%;
}

.table-title, .table-description {
    text-align: center;
}

.table-col-rank {
    width: 5%!important;
}
.table-col-image {
    width: 15%!important;
}
.table-col-name {
    width: auto!important;
    position: relative!important;
    z-index: 10;
}
.table-col-main {
    width: 10%!important;
    position: relative!important;
    text-align: right!important;
}
.table-col-extra {
    width: 7%!important;
    font-size: 80%;
    position: relative!important;
    text-align: right!important;
}
.table-row-progress-bar {
    position: absolute;
    top: 10%;
    height: 80%;
    z-index: -10;
    background-color: #bbdaf9;
}
